.hidden {
	display: none
}

.cursor {
	cursor: pointer
}

li.test-editor{
	list-style-type: none  
}

ul.test-editor{
	padding-left: 15px;
}

.left{
	float: left;
}

table.tasks-table{
	width: 500px;
}

table.tasks-table{
	width: 500px;
}
table[name=tasks-table] td.last{
	width: 100px;
}

textarea[name=description]{
    width: 700px;
    height: 250px;
}

input[name=name]{
    width: 400px;
}
