{% extends "base.html" %}
{% load i18n %}
{% load coffeescript %}

{% block extrahead %}
<script type="text/javascript" src="/static/javascript/jquery.js"></script>
<script type="text/javascript" src="/static/javascript/underscore.js"></script>
<script type="text/javascript" src="/static/javascript/backbone.js"></script>
<script type="text/javascript" src="/static/javascript/jquery.tmpl.js"></script>
<script type="text/javascript" src="/static/javascript/jquery-fieldselection.js"></script>
<script type="text/javascript" src="/static/javascript/json2.js"></script>
<script type="text/javascript" src="/static/javascript/date.format.js"></script>
<script type="text/javascript" src="/static/javascript/backbone-refmodel.js"></script>
<script type="text/javascript" src="/static/javascript/jquery.wrapSelection.js"></script>
<script type="text/javascript" src="/static/javascript/date.format.js"></script>

<script type="text/javascript" src='/static/{% coffeescript "coffeescript/models.coffee" %}'></script>
<script type="text/javascript" src='/static/{% coffeescript "coffeescript/test-player.coffee" %}'></script>
{% comment %}
<!--<script type="text/javascript" src='/static/{% coffeescript "coffeescript/models.coffee" %}'></script>-->
<!--<link rel="stylesheet" type="text/css" href="/static/css/test-editor.css" />-->
{% endcomment %}
<!--<script type="text/javascript" src="/static/javascript/models.js"></script>-->
<!--<script type="text/javascript" src="/static/javascript/test-player.js"></script>-->
<script type="text/javascript" >
	$(document).ready(function($) {
		var testData = {% if test.data %} {{test.data|safe}} {%else%} {} {% endif %};
		scales = new Scales([
		{% for scale in scales %}
			new Scale({ 
				name: "{{scale.name}}", 
				description: "{{scale.description}}",
				id: {{scale.id}}
			}),
		{% endfor %}
		]);
		test = new Test( testData );
        test.time = {{test.time}};
		testid = {{testid}}
		window.activeTask = test.tasks.first();
		window.activeTaskIndex = 0;
		Backbone.history.start();
	});
	
	function d(o){
		console.log(o);
	}
</script>
{% endblock %}
		{% block extra_header %}
		<div id="timer" class="left">
			
		</div>
		{% endblock %}
		
{% block content %}
<div name="intruction"><p>{{test.instruction}}</p></div>
<br>
<div id="app" ></div>

<script type="text/x-jquery-tmpl" id="timer-template" >
Времени осталось: <span id="time"></span>
</script> 

<script type="text/x-jquery-tmpl" id="send-template" >
		Отправка результатов...
		<form action="/test" method="POST">
		{% csrf_token %}
		<input type="hidden" name="data" />
		<input type="hidden" name="testid" value="{{testid}}"/>
</script>

<script type="text/x-jquery-tmpl" id="test-template" >
	<h1>{{test.name}}</h1>
	<p>{{test.instruction}}</p>
	<ul>
	<% test.tasks.each(function( task, index){%>
		<li>
			<% if(task.cid == activeTask.cid) { %>v<% } %> <a href="#tasks/<%=task.cid%>"><%=task.get("name")%>
				
			</a>
		</li>
	<% }); %>		
	</ul>
</script>

<script type="text/x-jquery-tmpl" id="task-complete-template" >
  <h3>Тест закончен</h3>
  <p>
   Приступить к следующему?
  </p>
  <p>
    <a href="#" name="start-test">Начать</a>
  </p>
</script>

<script type="text/x-jquery-tmpl" id="choice-task-template" >
   <div name="intro" class="">
    <button name="start-button">Начать</button> 
   </div>	
   <div name="main" class="">
    <div class="task-description"><%=task.get("description")%></div>
	<ul name="choices-ul" class="choices-ul">	
	</ul>
   </div>
</script>

<script type="text/x-jquery-tmpl" id="speed-task-template" >
   <div name="intro" class="">
    <button name="start-button">Начать</button> 
   </div>	
   <div name="main" class="">
    <div class="task-description"><%=task.get("description")%></div>
    <div name='clicks-div' >Нажато: <span name='clicks' >0</span> </div>
    <div name='step-div'>Попытка: <span name='step' >1</span> </div>
    <div name='result-div' class='hidden'>
        Вы нажали: <span name='clicks-result' >0</span> <br />
        <button name='next' >Далее</button>
    </div>
    <div name="table"></div>
   </div>
</script>

<script type="text/x-jquery-tmpl" id="speed-task-table-template" >

</script>

<script type="text/x-jquery-tmpl" id="word-task-template" >
    <div name="main" class="hidden">
	<p name="text" class="words"><%=task.get("text") %></p> <br />
	<button name="add-button">{% trans "Add" %}</button>
	<h2>Найденные слова</h2>
	
	<table name="words-ul" class="words">	
	</table>
   </div>
   <div name="intro" >
    <p><%=task.get("description")%></p>
    <button name="start-button">Начать</button> 
    </div>
</script>

<script type="text/x-jquery-tmpl" id="word-template" >
	<td><i><%=word.get("word")%></i></td><td> <a name="delete-button" href="#">{% trans "Delete" %}</a></td>
</script>

<script type="text/x-jquery-tmpl" id="choice-template" >
	<a href="#"><%=choice.get("text")%></a>
</script>
{% endblock %}
